<div class="container">
    <div class="row">
        <div class="jumbotron jumbotron-fluid justify-content-center bg-info text-white">
            <img src="../public/assets/img/burger.png" alt="burger">
            <h1>Eat Yo Burger!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Burger Offerings:</h3>

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h3>Burgers Eaten:</h3>

        </div>
    </div>
</div>